$kiara-orange: #EB5E33
$kiara-blue: #3D4B8C
$kiara-green: #8ACFC2
$kiara-yellow: #F8CC73
$kiara-black: #1C110A
$navbar-height: 60px

a
  text-decoration: none
  color: inherit

.page-container
  padding: 1.5rem 3rem
  .page-title
    font-size: 2rem
    margin: 1rem 0

.page-enter-active, .page-leave-active
  transition: opacity 0.2s

.page-enter, .page-leave-to
  opacity: 0
